@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/space-mono-v12-latin-regular.woff2") format("woff2"), url("../fonts/space-mono-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/space-mono-v12-latin-700.woff2") format("woff2"), url("../fonts/space-mono-v12-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/lexend-deca-v17-latin-regular.woff2") format("woff2"), url("../fonts/lexend-deca-v17-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.conatiner {
  max-width: 1156px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}

.conatiner {
  max-width: 1156px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}

.site-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 86px;
}

.header-inner__menu {
  display: none;
}
.header-inner__wraper {
  display: flex;
  align-items: center;
}
.header-inner__nav {
  margin-left: 58px;
  width: 249px;
  display: flex;
  justify-content: space-between;
}
.header-inner__linksmb {
  display: none;
}
.header-inner__link {
  text-decoration: none;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}
.header-inner__link:hover {
  color: #FCB72B;
}
.header-inner__btn {
  width: 180px;
  max-height: 53px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  padding: 14px 38px;
  background: #FCB72B;
}
.header-inner__btn:hover {
  color: #FCB72B;
  background-color: #FFFFFF;
  border: 1px solid #FCB72B;
}

@media only screen and (max-width: 644px) {
  .site-header__inner {
    display: block;
    padding: 22px 0;
  }
  .header-inner__links {
    display: none;
  }
  .header-inner__nav {
    display: none;
  }
  .header-inner__btn {
    display: none;
  }
  .header-inner__wraper {
    align-items: center;
    max-width: 250px;
    justify-content: space-between;
  }
  .header-inner__linksmb {
    display: block;
  }
  .header-inner__menu {
    display: block;
  }
}
.container {
  max-width: 1156px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}

.hero {
  position: relative;
  width: 100%;
  height: 650px;
  background-image: url(./../../images/bg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 160px;
}

.hero-desc {
  padding: 153px 0;
}
.hero-desc__title {
  margin: 0;
  margin-bottom: 40px;
  width: 500px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #FFFFFF;
}
.hero-desc__img {
  position: absolute;
  left: 0px;
  top: 347px;
}
.hero-desc__wrapper {
  width: 405px;
  margin-left: 57px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
}
.hero-desc__text {
  width: 405px;
  margin: 0;
  margin-bottom: 40px;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
}
.hero-desc__btn {
  padding: 14px 39px;
  width: 180px;
  max-height: 53px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  background: #FCB72B;
}
.hero-desc__btn:hover {
  background: none;
  border: 3px solid #FCB72B;
  text-align: center;
}
.hero-desc__after {
  position: absolute;
  right: 329px;
  top: 347px;
  margin-left: 40px;
}

@media only screen and (max-width: 1404px) {
  .hero-desc__img {
    left: -55px;
  }
  .hero-desc__after {
    right: 251px;
  }
}
@media only screen and (max-width: 1300px) {
  .hero-desc__img {
    left: -100px;
  }
  .hero-desc__after {
    right: 200px;
  }
}
@media only screen and (max-width: 1210px) {
  .hero-desc__img {
    left: -150px;
  }
  .hero-desc__after {
    right: 150px;
  }
}
@media only screen and (max-width: 1080px) {
  .hero-desc__after {
    right: 100px;
  }
}
@media only screen and (max-width: 1030px) {
  .hero-desc__after {
    right: 0;
  }
}
@media only screen and (max-width: 930px) {
  .hero {
    width: 100%;
    height: 650px;
    background-image: url(./../../images/bg-imgtablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 130px 0 230px 0;
    display: flex;
  }
  .hero-desc {
    padding: 0;
    max-width: 573px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .hero-desc__wrapper {
    margin-left: 0;
    margin-right: 0;
  }
  .hero-desc__title {
    margin-right: 0;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -2.5px;
    margin-bottom: 24px;
    color: #FFFFFF;
  }
  .hero-desc__text {
    margin-left: 0;
    width: 573px;
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 32px;
  }
  .hero-desc__btn {
    align-self: center;
    width: 180px;
    max-height: 53px;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    padding: 14px 39px;
    background: #FCB72B;
  }
  .hero-desc__btn:hover {
    color: #FCB72B;
    background-color: #FFFFFF;
    border: 3px solid #FCB72B;
  }
  .hero-desc__wrapper {
    margin-bottom: 47px;
    width: 573px;
  }
  .hero-desc__img {
    display: none;
  }
  .hero-desc__after {
    margin-left: 0;
    top: 476px;
    left: -127px;
  }
}
@media only screen and (max-width: 644px) {
  .hero {
    width: 100%;
    height: 650px;
    background-image: url(./../../images/bg-imgmb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 115px 0 179px 0;
    display: flex;
  }
  .hero-desc {
    max-width: 311px;
  }
  .hero-desc__title {
    max-width: 311px;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -1.78571px;
    color: #FFFFFF;
  }
  .hero-desc__wrapper {
    max-width: 311px;
  }
  .hero-desc__text {
    max-width: 311px;
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
  }
  .hero-desc__btn {
    align-self: center;
    margin: 0 auto;
  }
  .hero-desc__after {
    left: -312px;
  }
}
.container {
  max-width: 1156px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}

.service {
  position: relative;
  margin-bottom: 200px;
}
.service__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.service__span {
  position: absolute;
  left: 0;
  top: 40px;
  z-index: -1;
  width: 1104px;
  border: 7px solid #E5ECF4;
}

.service-list {
  margin: 0;
  padding: 0;
}
.service-list__item {
  max-width: 350px;
}
.service-list__img {
  margin-bottom: 40px;
}
.service-list__title {
  margin: 0;
  margin-bottom: 27px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
}
.service-list__desc {
  margin: 0;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}

@media only screen and (max-width: 1440px) {
  .service__span {
    left: -180px;
  }
}
@media only screen and (max-width: 1250px) {
  .service__span {
    left: -276px;
  }
}
@media only screen and (max-width: 930px) {
  .service {
    margin-bottom: 145px;
  }
  .service__span {
    transform: rotate(90deg);
    top: -108px;
    left: -342px;
  }
  .service-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .service-list__box {
    margin-left: 74px;
  }
  .service-list__item {
    display: flex;
    justify-content: space-between;
    max-width: 573px;
    height: 180px;
  }
}
@media only screen and (max-width: 830px) {
  .service__span {
    left: -400px;
  }
}
@media only screen and (max-width: 700px) {
  .service__span {
    left: -470px;
  }
}
@media only screen and (max-width: 644px) {
  .service__span {
    display: none;
  }
  .service-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  .service-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 311px;
    height: 232px;
    margin-bottom: 48px;
  }
  .service-list__img {
    margin-bottom: 0;
  }
  .service-list__box {
    max-width: 311px;
  }
  .service-list__title {
    align-self: center;
    margin: 0;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.892857px;
    color: #495567;
  }
  .service-list__desc {
    width: 311px;
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #939CAA;
  }
}
.container {
  max-width: 1156px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.use {
  position: relative;
  margin-bottom: 395px;
}
.use__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 160px;
}
.use__wrapper:last-child {
  margin-bottom: 0;
}
.use__imgmb {
  display: none;
}
.use__img {
  border-radius: 50%;
}
.use__img1 {
  border-radius: 50%;
}
.use__arrowmb {
  display: none;
}
.use__arrow-mb1 {
  display: none;
}
.use__arrow-mb2 {
  display: none;
}
.use__arrow {
  position: absolute;
  right: 0;
  top: 300px;
}
.use__arrow1 {
  position: absolute;
  left: 0;
  top: 607px;
}
.use__arrow3 {
  position: absolute;
  right: 0;
  top: 1280px;
}
.use__mask {
  position: absolute;
  z-index: -1;
  right: 0;
}
.use__mask1 {
  position: absolute;
  z-index: -1;
  left: 0px;
  top: 600px;
}
.use__mask2 {
  position: absolute;
  z-index: -1;
  right: 0px;
  top: 1237px;
}

.use-left {
  max-width: 445px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.use-left__title {
  margin: 0;
  margin-bottom: 24px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
}
.use-left__text {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}
.use-left__btn {
  padding: 14px 44px;
  width: 180px;
  background-color: #FCB72B;
  text-decoration: none;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}

@media only screen and (max-width: 1250px) {
  .use__arrow {
    top: 370px;
  }
  .use__arrow1 {
    top: 990px;
  }
  .use__arrow3 {
    top: 1308px;
  }
}
@media only screen and (max-width: 930px) {
  .use__wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }
  .use__arrow {
    top: 300px;
  }
  .use__left {
    width: 457px;
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .use__mask1 {
    top: 975px;
  }
  .use__arrow1 {
    top: 1035px;
  }
  .use__mask2 {
    top: 1970px;
  }
  .use__arrow3 {
    top: 2050px;
  }
}
@media only screen and (max-width: 930px) {
  .use {
    margin-bottom: 104px;
  }
  .use__arrow {
    display: none;
  }
  .use__arrow1 {
    display: none;
  }
  .use__arrow3 {
    display: none;
  }
  .use-left__title {
    width: 573px;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -2.14286px;
    color: #495567;
  }
  .use-left__text {
    width: 573px;
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #939CAA;
  }
}
@media only screen and (max-width: 644px) {
  .use__img {
    display: none;
  }
  .use__imgmb {
    display: block;
  }
  .use__arrow {
    display: none;
  }
  .use__mask {
    display: none;
  }
  .use__mask1 {
    display: none;
  }
  .use__mask2 {
    display: none;
  }
  .use__arrowmb {
    display: block;
    position: absolute;
    top: 150px;
    right: 0;
  }
  .use__arrow-mb1 {
    position: absolute;
    top: 830px;
    left: 0;
  }
  .use__arrow-mb2 {
    display: block;
    position: absolute;
    top: 1680px;
    right: 0;
  }
  .use-left__title {
    width: 311px;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -1.42857px;
    color: #495567;
  }
  .use-left__text {
    width: 311px;
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #939CAA;
  }
}
.container {
  max-width: 1156px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}

.sign {
  position: relative;
  background-color: #495567;
  height: 300px;
  width: 100%;
  padding: 102px 0;
}
.sign__bg {
  position: absolute;
  top: 134px;
  right: 0;
}

.sign-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sign-wrapper__title {
  width: 415px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #FFFFFF;
}
.sign-wrapper__right {
  display: flex;
}
.sign-wrapper__app {
  z-index: 100;
  cursor: pointer;
  display: flex;
  text-decoration: none;
  padding: 8px 16px;
  max-width: 159px;
  height: 56px;
  background: #E5ECF4;
  border-radius: 4px;
  margin-right: 18px;
}
.sign-wrapper__play {
  z-index: 100;
  cursor: pointer;
  display: flex;
  text-decoration: none;
  padding: 8px 16px;
  max-width: 182px;
  height: 56px;
  background: #E5ECF4;
  border-radius: 4px;
}
.sign-wrapper__box {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}
.sign-wrapper__span {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: -0.446429px;
  color: #495567;
}
.sign-wrapper__span2 {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.892857px;
  color: #495567;
}

@media only screen and (max-width: 930px) {
  .sign {
    padding: 62px 0;
    height: 300px;
  }
  .sign-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .sign-wrapper__title {
    width: 467px;
    margin-top: 0;
    margin-bottom: 40px;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -2.14286px;
    color: #FFFFFF;
  }
}
@media only screen and (max-width: 644px) {
  .sign-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .sign-wrapper__title {
    width: 311px;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -1.42857px;
    color: #FFFFFF;
  }
}
.site-footer {
  background-color: #333A44;
  height: 96px;
  padding: 36px 0;
}
.site-footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-inner {
  display: flex;
  width: 417px;
  justify-content: space-between;
}
.footer-inner__navli {
  margin-right: 32px;
  text-decoration: none;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}
.footer-inner__navli:last-child {
  margin-right: 0;
}
.footer-inner__navli:hover {
  color: #FCB72B;
}

.footer-social__links {
  text-decoration: none;
  margin-right: 24px;
}
.footer-social__links:last-child {
  margin-right: 0;
}

.about {
  position: relative;
}
.about-img {
  position: absolute;
  width: 100%;
  z-index: -1;
}
.about-title {
  margin: 0;
  padding: 0;
  padding-top: 72px;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #ffffff;
  z-index: 10;
}
.about-bottom {
  margin-top: 120px;
}

.container-about {
  margin-bottom: 120px;
  margin-top: 170px;
}

.use__arrow2 {
  position: absolute;
  left: 0;
  top: 908px;
}

.right__img {
  position: absolute;
  top: 274px;
  right: 0;
}
.right__img1 {
  position: absolute;
  top: 750px;
  left: 0px;
}

.our {
  margin-top: 300px;
}

.circle-small {
  position: absolute;
  top: 1300px;
  left: 0px;
}

.our-title {
  margin-bottom: 88px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2.14286px;
  color: #495567;
}

.our__title {
  margin: 0;
  padding: 0;
}

.our-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.list-item__title {
  margin-top: 32px;
  font-style: normal;
  font-weight: 700;
  width: 260px;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
}

.list-item__wrapper {
  width: 276px;
}

.item-wrapper__text {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #939caa;
}

.itme-span__img {
  position: absolute;
  left: 415px;
  top: 1800px;
}

.itme-span__img2 {
  position: absolute;
  left: 840px;
  top: 1800px;
}

.itme-span__img3 {
  position: absolute;
  left: 1250px;
  top: 1800px;
}

.careers {
  position: relative;
}
.careers__img {
  width: 100%;
  position: absolute;
  height: 200px;
  z-index: -1;
}

.careers {
  position: relative;
  margin-bottom: 120px;
}
.careers__title {
  margin: 0;
  padding: 72px 0;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #FFFFFF;
}
.careers__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 320px;
}
.careers__img1 {
  border-radius: 50%;
}
.careers__arrow {
  position: absolute;
  right: 0;
  top: 635px;
}
.careers__mask {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 360px;
}

.careers-left {
  max-width: 445px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.careers-left__title {
  margin: 0;
  margin-bottom: 24px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
}
.careers-left__text {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}
.careers-left__btn {
  padding: 14px 43px;
  width: 180px;
  background-color: #FCB72B;
  text-decoration: none;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}
.careers-left__btn:hover {
  width: 180px;
  height: 53px;
  background-color: #FFFFFF;
  border: 1px solid #FCB72B;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FCB72B;
}

.join {
  margin-bottom: 120px;
}

.circle-small {
  position: absolute;
  top: 1300px;
  left: 0px;
}

.join-title {
  margin-bottom: 88px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2.14286px;
  color: #495567;
}

.join__title {
  margin: 0;
  padding: 0;
}

.join-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.join-list__item {
  display: flex;
  flex-direction: column;
}

.list-item__title {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  width: 260px;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
}

.list-item__wrapper {
  width: 276px;
}

.list-item__img {
  margin-bottom: 87px;
  position: relative;
}

.item-wrapper__text {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #939caa;
}

.item-span__img {
  position: absolute;
  left: 430px;
  top: 1555px;
}

.item-span__img2 {
  position: absolute;
  left: 855px;
  top: 1555px;
}

.item-span__img3 {
  position: absolute;
  left: 1270px;
  top: 1555px;
}

.apply {
  margin-bottom: 160px;
}

.apply-wrapper {
  height: 888px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.apply-wrapper__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 128px;
  background-color: #F2F5F9;
  padding: 32px 64px 37px 40px;
  margin-bottom: 24px;
}
.apply-wrapper__box:last-child {
  margin-bottom: 0;
}

.wrapper-box__title {
  margin: 0;
  margin-bottom: 8px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
}
.wrapper-box__from {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #495567;
}
.wrapper-box__btn {
  padding: 14px 67px;
  text-decoration: none;
  background: #FCB72B;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}
.wrapper-box__btn:hover {
  width: 180px;
  height: 53px;
  background-color: #F2F5F9;
  border: 1px solid #FCB72B;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FCB72B;
}

.location {
  margin-bottom: 120px;
}
.location__img {
  height: 200px;
}
.location__title {
  margin: 0;
  padding: 72px 0;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #FFFFFF;
}

.map {
  margin-bottom: 120px;
}
.map__img {
  width: 100%;
}
.map__questions {
  margin-top: 124px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.map__title {
  margin: 0;
  width: 371px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
}
.map__desc {
  width: 445px;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}
.map__btn {
  width: 180px;
  max-height: 53px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  padding: 14px 38px;
  background: #FCB72B;
}
.map__btn:hover {
  color: #FCB72B;
  background-color: #FFFFFF;
  border: 1px solid #FCB72B;
}

.faqs-inner {
  margin-top: 100px;
}
.faqs-inner__title {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2.14286px;
  color: #495567;
}

.inner-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.inner-box__left {
  width: 350px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.78571px;
  color: #495567;
}
.inner-box__1 {
  position: relative;
  background: #F2F5F9;
  padding: 32px 40px;
  max-width: 730px;
  margin-bottom: 16px;
}
.inner-box__2 {
  position: relative;
  background: #F2F5F9;
  padding: 32px 40px;
  max-width: 730px;
  margin-bottom: 16px;
}
.inner-box__3 {
  position: relative;
  background: #F2F5F9;
  padding: 32px 40px;
  max-width: 730px;
}
.inner-box__title {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
}
.inner-box__strelka {
  position: absolute;
  right: 45px;
  top: 37px;
}
.inner-box__strelka2 {
  transform: rotate(180deg);
  position: absolute;
  right: 45px;
  top: 37px;
}
.inner-box__strelka3 {
  transform: rotate(180deg);
  position: absolute;
  right: 45px;
  top: 37px;
}
.inner-box__desc {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #495567;
}/*# sourceMappingURL=main.css.map */