.our{
    margin-top: 300px;
}
.circle-small{
    position: absolute;
    top: 1300px;
    left: 0px;
}
.our-title {
  margin-bottom: 88px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2.14286px;
  color: #495567;
}
.our__title {
  margin: 0;
  padding: 0;
}
.our-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.list-item__title {
  margin-top: 32px;
  font-style: normal;
  font-weight: 700;
  width: 260px;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
}
.list-item__wrapper {
  width: 276px;
}
.item-wrapper__text {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #939caa;
}
.itme-span__img {
  position: absolute;
  left: 415px;
  top: 1800px;
}
.itme-span__img2 {
    position: absolute;
    left: 840px;
    top: 1800px;
  }
  .itme-span__img3 {
    position: absolute;
    left: 1250px;
    top: 1800px;
  }
  